.heading-tag{
   background-color: rgb(48, 46, 46);
    display: flex;
    justify-content: center;
    align-self: center;
    height: 50px;
   
}
.heading-tag .tag{
    color: white;
    font-size: 1rem;
    margin-top: 15px;
    margin-left: 7vw;
}
.heading-tag .updt{
    color: white;
    background-color: rgba(243, 158, 0, 0.932);
    font-size: 1.5rem;
    font-weight: 600;
    padding: 10px 15px;
    margin-left: 3vw;
 
    height: 50px;
}
.heading-tag2 span{
    /* background-color: white;
    border: 1px solid   rgba(2, 28, 61, 0.973) ; */
    color:   rgba(2, 28, 61, 0.973);
}
.flight-list{
    background-color: #fdfdfd;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.flight-list-heading{
    background-color: rgba(2, 28, 61, 0.973);
   
    color: white;
}
.flight-list .flt{
    font-size: 25px;
    color:   rgba(243, 158, 0, 0.932);
  }

.flight-list h4{
color: rgb(131, 123, 123);
border-bottom: 1px solid rgb(167, 159, 159);
border-top: 1px solid rgb(167, 159, 159);
font-size: 1.1rem;
padding: 8px 8px;
margin-left: 4px;
margin-right: 4px;
padding-bottom: 11px;
  }
  .flight-list h4 button{
    font-size: .9rem;
    padding: 3px 8px;
    background-color: white;
    border-radius: 4px;
    color:   rgba(243, 158, 0, 0.932);
border: 1px solid rgba(243, 158, 0, 0.932);
  }

   .flight-list h4 button:hover{
    background-color: rgba(243, 158, 0, 0.932);
    border-radius: 4px;
    color:   white;
  }

  @media screen and (max-width: 1024px) { 
    .flight-list h4{
        font-size: 1rem;
       
          }
          .flight-list h4 button{
            font-size: .9rem;
        
           
          }

  }