.footer-contain{
    background-color: rgba(2, 28, 61, 0.973); 
    opacity: 96%;
    color: white;
}
.footer-contain h6{
font-size: 1.1rem;
text-align: center;
border-bottom: 4px solid  rgba(243, 158, 0, 0.932);
}
.footer-contain h6 input{
    border: none;
    background: transparent;
    border-bottom: 1px solid white;
}
::-webkit-input-placeholder{
    color: white;
    opacity: 90%;
}
.footer-contain h6 button{
    font-size: .9rem;
    background-color: rgba(243, 158, 0, 0.932);
    border-radius: 3px;
    color:   white;
    text-transform: uppercase;
    border: none;

}
li {
    list-style-type: none;
  }

  .f-heading {
    color: #ffff;
    font-size: 1rem;
    font-weight: 600;
    border-bottom: 2px solid white;
    padding-bottom: 8px;
  }
  .f-second-heading {
    color: rgb(220, 220, 220);
    font-size: 1rem;
    font-weight: 400;
  }
  
  @media screen and (max-width: 1024px) { 
    .footer-contain h6{
      font-size: 1rem;
      }
      li {
          list-style-type: none;
        }
      
        .f-heading {
          color: #ffff;
          font-size: .9rem;
        }
        .quick-links  li{
        
          font-size: .9rem;
          font-weight: 400;
        }

  }